html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

* {
    box-sizing: border-box;
}

/* side-bar begins here */
.sidebar {
    width: 17vw;
    height: 100vh;
    position: fixed;

    display: flex;
    background-color: #7676f3;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar div {
    width: 95%;
}

div.sidebar div.banner {
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.banner span {
    font-style: italic;
    margin-left: 35%;
}

div.link-bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    list-style: none;
    padding-left: 28%;
    line-height: 3.8em;
}

div.link-bar ul li {
    padding-right: 0.3em;
}

div.link-bar ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

div.icon {
    height: 10%;
    color: white;
    font-style: italic;
    text-align: center;
}

/* sidebar ends here */

.main {
    margin-left: 17vw;
    flex: 1;
}

div.child {
    height: 100vh;
    background-color: white;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.vid,
div.card {
    border-radius: 0.7em;
}

div.vid {
    width: 65%;
    height: 45%;
}

div.card {
    width: 95%;
    height: 50%;

    display: flex;
    background-color: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.card .pic,
.text {
    width: 95%;
    height: 48%;
}

div.pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1%;
}

div.pic div {
    height: 90%;
    width: 80%;
    background-image: url('./Img/consulting.jpg');
    background-size: cover;
}

div.text {
    color: white;
    font-style: italic;
    text-align: justify;
    line-height: 1.5em;
    background-color: slategray;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: black;
    font-size: 17px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#about .banner {
    width: 90%;
    height: 46%;
    background-image: url('./Img/server.jpg');
    background-size: cover;
}

div.about-text {
    height: 25%;
    width: 95%;
    text-align: justify;
    line-height: 1.1em;
}

div.about-text p {
    padding: 0.75em;
    margin: 0;
}

#service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#service div.service-card {
    height: 32%;
    width: 95%;
    line-height: 1.5em;
    font-style: italic;

    border-radius: 0.3em;
    padding: 0.9em;
    background-color: tomato;
}

div.service-card img {
    float: right;
    height: 75%;
    width: 25%;
    margin-top: 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: deeppink;
}

#contact h2 {
    margin: 0;
}

div.contact-pic,
.contact-text {
    height: 45%;
}

div.contact-pic {
    width: 60%;
    border-radius: 0.3em;
    object-fit: contain;
}

div.contact-text {
    width: 95%;
    background-color: yellow;
}

div.contact-text h3 {
    text-align: center;
}

div.contact-card {
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    font-weight: bold;

    padding: 44px;
    width: 40%;
    height: 70%;
    margin-left: 7%;

    float: left;
    background-color: indigo;
}

#enquiry {
    background-color: springgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form.enq-form {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 70%;
    padding: 50px;

    background-color: #F6F7F8;
}

div.form-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

div.form-row input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 75%;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    font-size: 14px;
    padding: 7px;
}

div.form-row label {
    padding: 7px;
    margin-left: 30px;
    font-size: 20px;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #999999;

    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 7px;
    resize: none;
    min-height: 200px;
    width: 76%;
}

div.form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #5995DA;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76AEED;
}

.form-row button:active {
    background-color: #407FC7;
}